<div id="addEditTaskDialog" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="gridSystemModalLabel">{{ dialogTitle }} Purchase</h4>
      </div>
      <div class="modal-body" ng-form name="purchaseForm">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-5">
              <label for="purchaseName">Purchase Name</label>
              <input type="text" class="form-control" id="purchaseName" name="purchaseName" placeholder="Enter purchase name"
                     ng-model="purchase.name" required>
              <span class="error" ng-show="submitted && purchaseForm.purchaseName.$error.required">
                Required!
              </span>
            </div>
            <div class="col-xs-4">
              <label for="purchaseStoreName">Store Name</label>
              <input type="text" class="form-control" id="purchaseStoreName" name="purchaseStoreName" placeholder="Enter store name"
                     ng-model="purchase.store" required>
              <span class="error ng-hide" ng-show="submitted && purchaseForm.purchaseStoreName.$error.required">
                Required!
              </span>
            </div>
            <div class="col-xs-3">
              <label for="purchasePrice">Price</label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="number" class="form-control" id="purchasePrice" name="purchasePrice" placeholder="00.0"
                       ng-model="purchase.price" min="5" required>
              </div>
                <span class="error" ng-show="purchaseForm.purchasePrice.$error.min">
                  Price should be larger than 5!
                </span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label for="purchaseDescription">Description</label>
              <textarea class="form-control" id="purchaseDescription" name="purchaseDescription" rows="5"
                        ng-model="purchase.description" required>
              </textarea>
              <span class="error" ng-show="submitted && purchaseForm.purchaseDescription.$error.required">
                  Required!
                </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-left" ng-click="add()"
                ng-if="!isEditPage">
          Add
        </button>
        <button type="button" class="btn btn-primary pull-left" ng-click="save()"
                ng-if="isEditPage">
          Save
        </button>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ui-sref="tasks">Close</button>

        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal" ng-click="remove()"
                ng-if="isEditPage">
          Remove
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->