<div class="container-fluid task-manager">
  <div class="row header">
    <div class="col-xs-12 col-md-12">
      <h2>Purchases</h2>
    </div>
  </div>
  <div class="row body-wrapper">
    <div class="col-xs-12 col-md-4 sidebar">
      <h3>Purchases by Day</h3>
      <div class="list-group">
        <button type="button" class="list-group-item"
                ng-repeat="day in days"
                ng-click="changeDay($index)"
                ng-class="{ active: $index === selectedDay }">
          {{ day }}
        </button>
      </div>
    </div>

    <div class="col-xs-12 col-md-8 content">
      <div class="row content-header">
          <h3 class="pull-left">{{ days[selectedDay] }} purshases</h3>
          <button type="button" class="btn btn-primary pull-right"
                  ng-click="addTask($event)"
                  ui-sref=".add({ day: days[selectedDay]})">
            Add purchases
          </button>
      </div>
      <div class="table-wrapper">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Purchases Name</th>
            <th>Store Name</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="purchase in purchases"
              ui-sref=".edit({ day: days[selectedDay], purchaseIndex: $index})">
            <td>{{ purchase.name }}</td>
            <td>{{ purchase.store }}</td>
            <td>{{ purchase.description }}</td>
            <td>{{ purchase.price }}</td>
            <td><span class="glyphicon glyphicon-remove"
                      ng-click="purchases.splice($index,1)"></span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div ui-view></div>