body {
  background-color: lightgray;
}

.main-wrapper {
  height: 100vh;
  width: 992px;
  margin: 0 auto;
}

.task-manager {
  height: 95vh;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  .header {
    background-color: #DEDEDE;
  }

  .body-wrapper {
    position: absolute;
    left: 15px;
    bottom: 0;
    top: 63px;
    right: 15px;

    .sidebar, .content {
      height: 100%;
    }

    .sidebar {
      background-color: #DCECF4;
    }

    .content {
      .content-header {
        background-color: #CBCBD1;
        padding: 0 15px;
        button[type="button"] {
          margin: 9px 0;
        }
      }
    }
    .table-wrapper {
      margin-top: 10px;
      border: 2px solid #DCECF4;
      table {
        margin-bottom: 0;
        thead {
          background-color: #F1F4FF;
        }
      }
    }
  }

}